body {
    background-color: darkkhaki;
    align-items: center;
    text-align: center;
}

#counter {
    font-size: 100px;
    padding: 0 40% ;
}

#counter div {
    float: left;
    margin: 0;
}

#buttons {
    clear: left;
    padding-top: 20px;
}

#buttons button {
    margin: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#buttons button.start {
    background-color: rgb(66, 128, 130);
}

#buttons button.stop {
    background-color: rgb(190, 90, 90);
}

#buttons button.reset {
    background-color: rgb(167, 136, 12);
}

#buttons button:hover {
    background-color: rgb(203, 218, 114);
}

#buttons button:disabled {
    background-color: rgb(162, 158, 148);
}